// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  gap: 4em;

  #domain-select {
    width: 6em;
    height: 2em;
    background-color: $metropoliaorange-button;
    cursor: pointer;
  }

  #domain-select:hover {
    background-color: $metropoliaorange-light;
    border-color: $metropoliaorange-light;
  }


  .metropolia-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    width: 15em;
    height: 100%;
    margin: 0.5rem;
  }

  .weather-report {}

  .weather-report,
  .domain {
    font-size: $font-size;
  }

  #weather-info {
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .weather-report>* {
    margin: 0;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 950px) {
  header {
    flex-wrap: wrap;
  }
}
