// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header, .header-buttons {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  gap: 2em;

  #domain-select {
    width: 6em;
    height: 2em;
    background-color: $metropoliaorange-button;
    cursor: pointer;
  }

  #domain-select:hover {
    background-color: $metropoliaorange-light;
    border-color: $metropoliaorange-light;
  }


  .metropolia-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    width: 15em;
    height: 4em;
    margin: 0.5rem;
  }

  .weather-report {
    display:flex;
    gap:1em;
    align-items: center;

    img {
      width:70px;
      height:70px;
    }
  }

  .weather-report,
  .domain {
    font-size: $font-size;
  }

  #weather-info {
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .weather-report>* {
    margin: 0;
    padding: 0.1rem;
  }
}
@media screen and (max-width: 1140px) {
  header {

    .weather-report {
      font-size: 25px;
    }
    .header-buttons {
      gap:2em;
    }
  }
}

@media screen and (max-width: 1070px) {

  header {
    margin-bottom: 1em;
    flex-direction: column;

    .weather-report {
      margin-bottom: 0;
      margin-top:1.5em;
    }

  .header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;

    .metropolia-logo {
      margin: 0.5rem 0.5rem 1.5rem 1.5rem
    }

    #domain-select, .weather-report, #language-button, #save-button {
      margin:auto;
    }
  }
}
}

@media screen and (max-width: 680px) {

  header {
    display: flex;
    flex-direction: column;
    gap:2em;

    .header-buttons {
      display: flex;
      flex-direction: column;
      gap: 2em;

      .metropolia-logo {
        margin: 1em 1em 0 0;
      }
    }

    .weather-report {
      justify-content: center;
      margin: 0 0 0 0.5em;
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

@media screen and (max-width: 395px) {
  header {

    .weather-report {
      font-size: 25px;
    }

    .header-buttons {

      .metropolia-logo {
        margin: 1em 0.5em 0 0.5em;
      }
    }
  }
}
