        main {
          display: flex;
          flex-direction: row;
          background-color: $background-color;
          color: $metropoliagray;
          column-gap: 5em;
          margin-top: 5em;
          padding: 2em;

          h2 {
            text-align: center;
          }

          .leftside {
            justify-content: space-between;
            font-family: "HCo Gotham Rounded";
            flex: 2;


            .video {
              width: 27vw;
              max-width: 100%;
            }

            .hsl {
              border: 1px solid black;
            }
          }

          .rightside {
            border: 1px solid black;
            flex: 1;

            figure {
              text-align: center;
            }

            .restaurant-logo {
              width: 10em;
            }

            #menu {

              padding: 1em;

              li {
                margin-bottom: 1.5em;
                font-size: 1.5rem;

                div {
                  // background-color: $metropoliaorange;
                  // height: 2px;
                  // margin: 5px auto auto auto;
                }

                .price-container {
                  display: flex;
                  flex-direction: row;

                  p {
                    padding: 0.5rem;
                  }

                }

                // bottom border for menu items
                border-bottom: 2px double $metropoliaorange;
              }
            }

            .sides {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: fit-content;
            }

            .hsl {
              h2 {
                text-align: center;
              }

              .hsl-list {
                display: flex;
                flex-direction: row;
              }

            }
          }

          .menu-item-title {
            // font into bold
            font-weight: bold;
          }

          .bus-svg{
            fill:beige;
            width: 3em;
          }
          .hsl-container {
            display: flex;
            flex-direction: column;
            padding:2em;
            p {
              margin:0;
            }
            .hsl-container-list {
              border: 0.5px dashed black;
              padding: 8px 8px 8px 40px;
              display: flex;
              align-items: center;
              background-color:$hsl-white;
              color:$hsl-sininen;

              .transit-address {
                flex:3;
              }
              .arrival-time {
                flex:1;
              }

            }
          }
          .hsl-container-list-head{
            display: flex;
            flex:3;
            gap:10px;
          }
          .hsl-container-list-head-right{
           margin-left: 0.3em;
          }
        }
