// -----------------------------------------------------------------------------
// This file contains styles that are specific to the digital signage page.
// -----------------------------------------------------------------------------

.digitalsignage {

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
  width: 100vw;

  .hsl {
    h2 {
      text-align: center;
    }

    .hsl-list {
      display: flex;
      flex-direction: row;
    }
  }
}
