:root {

  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --metropoliaorange: #E95C0C;
  --metropoliaorange-light: #F9A03F;
  --metropoliagray: #696B6F;
}

body {
  box-sizing: border-box;
  list-style-type: none;

  header {
    background-color: var(--light);
    color: var(--white);

    .logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      object-fit: contain;

      height: 100%;
      margin: 1rem;
    }

    height: 10vh;

  }

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--metropoliagray);
    height: 90vh;

    .leftside {}

    .rightside {}

    .sides {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: xx-large;
    }
  }
}